
/***************************************** Table Of Contents ********************************************/
/*//////////////////////////////\\\\\\\\\\\\//\/\/\//\/\/\/\\\/////////////\\\\\\\\\\\\\\\\\/\/\/\///\/\/
* 
***  1. Imports - line 25
***  2. Root Variables - line 29
***  3. Resetting Defaults. - line 43
***  4. Basic tags - line 73
***  5. Navigation CSS - line 98
***  6. Grid CSS
***  7. Hero CSS
***
***
***
***
***
***
***
***
***
***
*/


/*   1. Imports   */
@import './font.css';


/*  2.  Root Variables */

:root{
    --primary-color-light: #9E00FF;
    --primary-color-dark: #2F9EF4;
    --header-color: #242424;
    --text-color-light: #1D262D;
    --text-color-dark: #727272;
    --border-color: #E4E4E4;
    --gradient-primary: #D400FA;
    --gradient-secondary: #9E00FF;
}


/*   3. Resetting Defaults   */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
    list-style: none;
}

ul, p {
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

/*  4. Basic tags   */

body {
    margin: 0;
    font-family: 'Proxima Nova', 'geomanist', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color-light);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'quitador', Arial, Helvetica, sans-serif;
    color: var(--header-color);
}

a {
    color: var(--text-color-dark);
    text-decoration: none;
}

/*    5. Navigation CSS    */

.nav {
    width: 100%;
    height: 56px;
    position: relative;
}

.nav--primary {
    background: var(--primary-color-light);
    color: #FFFFFF;
}

.nav--shadow {
    box-shadow: 0 2px 16px rgba(0, 0, 0, .23);
}

.nav__inner {
    padding: 0 40px;
    height: 100%;
    position: relative;
}

.nav__inner::after {
    clear: both;
    display: table;
    content: '';
}

.nav__logo {
    padding-top: 13px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Proxima Nova';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .23);
    float: left;
}

.nav__logo span {
    color: var(--primary-color-dark);
}

.nav__links {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding-top: 16px;
    margin-left: 18px;
}

.nav__links li a {
    font-weight: 500;
    color: var(--text-color-light);
}

/*   GRID CSS    */

.wrapper {
    max-width: 71.250em;
    margin: 0 auto;
}

/* .three-col .grid-item {
    width: 33.333333%;
    float: left;
}

.three-col::after {
    clear: both;
    display: table;
    content: '';
}

.grid-item {
    width: calc((100% - 24px * 3) / 3);
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
} */

/*   Hero CSS    */

.hero {
    width: 100%;
}

.hero--bg-img {
    background-image: url('../img/berry-blur-close-up-566888.jpg');
    background-size: cover;
    background-position-y: 0px;
    width: 100%;
    height: 425px;
    padding-bottom: 2em;
}


/*   Utilities   */

.bg-white {
    background: #FFFFFF;
}

.bg-dark {
    background: var(--header-color);
}

.bg-primary {
    background: var(--primary-color-dark);
}