
/***************************************** Table Of Contents ********************************************/
/*//////////////////////////////\\\\\\\\\\\\//\/\/\//\/\/\/\\\/////////////\\\\\\\\\\\\\\\\\/\/\/\///\/\/
* 
***  1. Imports - line 25
***  2. Root Variables - line 29
***  3. Resetting Defaults. - line 43
***  4. Basic tags - line 88
***  5. Navigation CSS - line 107
***  6. Grid CSS
***  7. Hero CSS
***  8. Section CSS
***  9. Card CSS
***  10. Button CSS
***  11. Tabs CSS
***  12. Cart CSS
***
***
***
***
***
*/


/*   1. Imports   */
@import './font.css';


/*  2.  Root Variables */

:root{
    --primary-color-light: #5D1049;
    --primary-color-dark: #580072;
    --primary-backdrop: #720D5D;
    --primary-button-color: #7E4AAD;
    --secondary-color: #E30425;
    --header-color: #242424;
    --text-color-light: #5f6368;
    --text-color-dark: #202124;
    --border-color: #E1E8EE;
    --nav-height: 72px;
    --success-color: #04d36f;
    --button-hover-color: #6a3d91;
}


/*   3. Resetting Defaults   */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
    list-style: none;
}

ul, p {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


*, 
*::before,
*::after {
    box-sizing: border-box;
}

/*  4. Basic tags   */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-light);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: 0.0125rem;
    background: #FFFFFF;
}

a {
    color: var(--text-color-dark);
    text-decoration: none;
}

/*    5. Navigation CSS    */

.nav {
    width: 100%;
    height: var(--nav-height);
    position: relative;
}

.nav--primary {
    background: var(--primary-color-dark);
    color: #FFFFFF;
}

.nav--shadow {
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
}

.nav__inner {
    padding: 0 40px;
    height: 100%;
    position: relative;
}

.nav__inner::after {
    clear: both;
    display: table;
    content: '';
}

.nav__logo {
    line-height: var(--nav-height);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
    float: left;
    text-transform: uppercase;
}

.nav__logo span {
    color: var(--primary-color-light);
}

.nav--primary .nav__logo span {
    color: #FFFFFF;
}

.nav__logo .nav__logo--icon{
    background: url(../img/food-truck.png) 100% 50%/auto 100% no-repeat;
    display: inline-block;
    vertical-align: -7px;
    height: 32px;
    margin-right: 16px;
    width: 32px;
}

.nav__links {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    line-height: var(--nav-height);
}

.nav__links li {
    display: inline-block;
    padding: 0 11px;
}

.nav__links li a {
    font-weight: 500;
    color: var(--text-color-dark);
}

.nav--primary .nav__links li a  {
    color: #FFFFFF;
}

.nav__links li a:hover {
    color: var(--text-color-light);
}

.nav--primary .nav__links li a:hover {
    color: #AAAAAA;
}

/*   GRID CSS    */

.wrapper {
    max-width: 840px;
    padding: 0 40px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.three-col .grid-item {
    float: left;
}

.three-col::after {
    clear: both;
    display: table;
    content: '';
}

.grid-item {
    width: calc((100% - 24px * 3) / 3);
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
}

/*  7.  Hero CSS    */

.hero {
    width: 100%;
}

.hero--bg-img {
    background: #720D5D url('../img/food-delivery-poster-in-purple-background-with-vector-17273077.jpg');
    background-size: 425px;
    width: 100%;
    height: 425px;
    padding-bottom: 2em;
}

/*   8. Section CSS   */


.section {
    padding-bottom: 7em;
}


.section__inner {
    padding-top: 30px;
}


/*   9. Card CSS   */

.card {
    position: relative;
    background:#FFFFFF;
    max-width: 250px;
    height: 90px;
}

.card::after {
    clear: both;
    display: table;
    content: '';
}

.card--has-shadow {
    box-shadow: 0px 2px 10px rgba(0,0,0,.15);
}

.card--shape {
    border-top-left-radius: 15px;
    border-top: 2px solid var(--primary-backdrop);
}

.card__image {
    position: relative;
    width: 25%;
    float: left;
}

.card__image img {
    width: 100%;
    position: absolute;
    margin: 7px 5px;
}

.card__content {
    width: 73%;
    height: 100%;
    margin-left: 27%;
}

.card__title {
    font-size: 12px;
    text-align: center;
}

.card__button {
    text-align: center;
}

.card__button .button {
    padding: 3px 8px;
}

.card__price {
    font-size: 13px;
    text-align: center;
}

.card__content .button--clicked {
    background: var(--success-color);
    color: #FFFFFF;
}

/*   10. Button CSS   */

.button {
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}

.button--primary {
    background: var(--primary-button-color);
    color: white;
}

.button--primary:hover {
    background: var(--button-hover-color);
}

.button--secondary {
    background: var(--secondary-color);
    color: white;
}

.fab__menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 17px 15px;
    width: 50px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    background: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.20);
    transition: 0.2s;
    cursor: pointer;
}

.fab {
    font-weight: 400;
    border: 0;
    background: none;
    color: #FFFFFF;
    position: absolute;
    bottom: 18px;
    right: 15px;
    font-size: 34px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 12px;
    transition: 0.2s;
    user-select: none;
}

.fab i {
    width: 100%;
    display: inline-block;
    font-size: 19px;
    vertical-align: -2px;
}

.fab__menu.open {
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    width: 200px;
    height: 250px;
    border-radius: 2px;
    overflow-y: auto;
}

.fab__menu.open .fab {
    color: #999;
}

.fab__menu.open .fab__menu__content {
    opacity: 1;
    visibility: visible;
}

.fab__menu__title {
    font-size: 12px;
    margin: 0 0 13px 0;
}

.fab__menu__content {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  

.fab__menu__content__list li{
    margin: 0 0 3px 0;
    transform: translateX(20px);
    transition: 0.2s;
}

.fab__menu__content__list li span {
    font-size: 13px;
}

.fab__menu.open .fab__menu__content__list li { 
    transform: translateX(0); 
}

.fab__menu__content__list li:nth-child(1) { 
    transition-delay: 0.08s; 
}

.fab__menu__content__list li:nth-child(2) { 
    transition-delay: 0.12s; 
}

/*   11. Tabs CSS   */

.tab {
    width: 100%;
    position: relative;
    height: 350px;
    text-align: center;
}

.tab::after {
    content: '';
    display: table;
    clear: both;
}

.tab .tab__card {
    background-color: #FFFFFF;
    float: left;
    cursor: pointer;
    width: 195px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.20);
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 30px;
}

/*   12. Cart CSS   */

.cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.cart__title {
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 30px;
    font-size: 18px;
}

.cart__item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.cart__item:last-child {
    border-bottom: none; 
}

.button-group {
    position: relative;
    padding-top: 30px;
    margin-right: 30px;
}

.remove-item {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    margin-right: 20px;
}

.cart__image {
    margin-right: 50px;
    width: 13%;
}

.cart__image img {
    width: 100%;
    height: 100%;
}

.cart__description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.cart__description span {
    color: var(--text-color-dark);
    font-size: 14px;
}

.cart__description select {
    outline: none;
    border: none;
    padding: 3px 10px;
    background: var(--border-color);
    color: var(--text-color-light);
}

.cart__quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.cart__quantity button {
    width: 30px;
    height: 30px;
    background-color: var(--border-color);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cart__quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-weight: 300;
}

.cart__button-minus img{
    margin-bottom: 3px;
}

.cart__item-total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.cart__button {
    padding: 16px;
    text-align: center;
    font-size: 15px;
}
/*   Utilities   */

.bg-white {
    background: #FFFFFF;
}

.bg-dark {
    background: var(--header-color);
}

.bg-primary {
    background: var(--primary-color-dark);
}

.icon--p-color {
    color: var(--primary-color-light);
}

.title {
    text-align: center;
}

.title__text {
    font-size: 60px;
    font-family: 'Mirza', 'Roboto';
    text-transform: uppercase;
}

.title__text--dark {
    color: var(--text-color-dark);
}

.title__text--md {
    font-size: 45px;
}

.title__text--sm {
    font-size: 35px;
}

.title__text--xs {
    font-size: 20px;
}

.text--primary {
    color: var(--primary-color-dark);
}

.text--dark {
    color: var(--text-color-dark);
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}


.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.bg-grey {
    background: #EFF4F5;
}

/*   Custom CSS - Index.html   */

.load-more {
    text-align: center;
}

.load-more .button {
    padding: 18px 30px;
    border-radius: 6px;
    font-size: 14px;
}

/*   Custom CSS - login.html   */

.login {
    position: absolute;
    height: 450px;
    width: 600px;
    left: calc((100% - 600px) / 2);
    margin-top: 3em;
}

.login__logo__container {
    width: 100%;
}

.login__logo {
    text-align: center;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.login__logo img {
    width: 100%;
    height: 100%;
}

.login form {
    border-radius: 4px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    width: 350px;
    height: 130px;
    position: relative;
    text-align: center;
    margin: 40px auto;
    background: #FFFFFF;
}

.login input {
    display: inline-block;
    background: #FFFFFF;
    width: 80%;
    margin: 12px auto;
    border: 0;
    padding: 12px 0;
    outline: 0;
    font-size: 15px;
    padding-left: 10px;
}

.login .input-group:nth-child(1) {
    border-bottom: 1px solid lightgrey;
}

.login .input-button {
    margin-top: 30px;
}

.login .button {
    width: 100%;
    padding: 16px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}

.input-account {
    margin-top: 30px;
    font-size: 15px;
}

.input-account p {
    color: #FFFFFF;
}

.input-account a {
    color: var(--secondary-color);
}

.input-forgot {
    color: #AAAAAA;
    display: block;
    margin-top: 10px;
}

/*   Custom CSS - Signup.html */

.signup {
    position: absolute;
    height: 450px;
    width: 600px;
    left: calc((100% - 600px) / 2);
    margin-top: 3em;
}

.signup__logo__container {
    width: 100%;
}

.signup__logo {
    text-align: center;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.signup__logo img {
    width: 100%;
    height: 100%;
}

.signup form {
    border-radius: 4px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    width: 350px;
    height: 195px;
    position: relative;
    text-align: center;
    margin: 40px auto;
    background: #FFFFFF;
}

.signup input {
    display: inline-block;
    background: #FFFFFF;
    width: 80%;
    margin: 12px auto;
    border: 0;
    padding: 12px 0;
    outline: 0;
    font-size: 15px;
    padding-left: 10px;
}

.signup .input-group:nth-child(1) {
    border-bottom: 1px solid lightgrey;
}

.signup .input-group:nth-child(2) {
    border-bottom: 1px solid lightgrey;
}

.signup .input-button {
    margin-top: 30px;
}

.signup .button {
    width: 100%;
    padding: 16px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}

/*   Custom CSS - Checkout.html   */

.nav--checkout {
    height: 60px;
}

.nav--checkout .nav__links, .nav--checkout .nav__logo {
    line-height: 60px;
}

.nav--checkout .nav__links li a {
    font-size: 15px;
}

.nav--checkout .nav__total {
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.nav--checkout .nav__links li .nav__total:hover {
    color: #FFFFFF;
}

.checkout-form {
    position: absolute;
    height: 500px;
    width: 400px;
    background: #FFFFFF;
    left: calc((100% - 400px) / 2);
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.checkout-form .title__text {
    text-transform: capitalize;
}

.checkout-form form {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 20px auto;
}

.checkout-form input {
    display: inline-block;
    background: #FFFFFF;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #CCDADF;
    border-radius: 4px;
    padding: 12px 0;
    padding-left: 10px;
    outline: 0;
    font-size: 15px;
    color: var(--text-color-light);
}

.checkout-input-group {
    position: relative;
}

.checkout-input-group label {
    position: absolute;
    text-transform: capitalize;
    font-size: 12px;
}

.checkout-form .half-width {
    width: 40%;
}

.checkout-form .terms {
    font-size: 11px;
}

.checkout-form a {
    color: var(--primary-color-dark);
}

.checkout-form .button {
    margin-top: 22px;
    width: 100%;
    border-radius: 0;
    padding: 16px;
    font-size: 15px;
}