/* Font Faces */

@font-face {
    font-family: 'geomanist';
    src: url('../fonts/geomanist-regular-webfont.ttf');
}

@font-face {
    font-family: 'quitador';
    src: url('../fonts/geomanist-regular-webfont.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf');
}