/* Font Faces */

@font-face {
    font-family: 'geomanist';
    src: url('../fonts/geomanist-regular-webfont.ttf');
}

@font-face {
    font-family: 'quitador';
    src: url('../fonts/geomanist-regular-webfont.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('../fonts/ Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
         url('../fonts/ Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('../fonts/ Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('../fonts/ Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}